.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.dashboard-container { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width:100vw;
  background-color: rgb(231, 231, 231);
}

.content-view { 
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 85vh;
  width: 90vw;
}

.search-div{
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 10vh;
  flex-direction: column;
}

.item-viewer { 
  display: flex;
  height:90%;
  flex:3;
  background-color: rgb(241, 241, 241);
  flex-direction: column;
}

.control-view { 
  display: flex;
  height:90%;
  flex:1;
  background-color: rgb(228, 228, 228);
  flex-direction: column;
}

.item-control { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  flex: 1 
}

.warehouse-view {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  flex: 1.5;

}

.warehouse-control {
  flex:2;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warehouse-list {
  flex:5;
  border-radius: 10;
  border: 1px grey solid;
  width: 90%;
}

.item-viewer-container { 
  flex:1;
  margin:10; 
  border: 1px grey solid; 
  display: flex;
  flex-direction: row;
}

.item-component{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
